In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix
import helper

# Import the Movies dataset
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
print('The dataset contains: ', len(ratings), ' ratings of ', len(movies), ' movies.')

The dataset contains:  100004  ratings of  9125  movies.

In [34]:
def get_genre_ratings(ratings, movies, genres, column_names):
    average_ratinggs = pd.DataFrame()
    for genre in genres:
        movies_belong_to_type = movies[movies['genres'].str.contains(genre)]
        average_ratinggs_per_type = ratings[ratings['movieId'].isin(movies_belong_to_type['movieId'])].loc[:, ['userId','rating']].groupby('userId')['rating'].mean().round(2)
        average_ratinggs = pd.concat([average_ratinggs, average_ratinggs_per_type], axis = 1)
    average_ratinggs.columns = column_names
    return average_ratinggs

In [35]:
genres = ['Romance', 'Sci-Fi']
column_names = ['avg_romance_rating', 'avg_scifi_rating']
genre_ratings = get_genre_ratings(ratings, movies, genres, column_names)
genre_ratings.head()

        avg_romance_rating  avg_scifi_rating
userId
1                     3.50              2.40
2                     3.59              3.80
3                     3.65              3.14
4                     4.50              4.26
5                     4.08              4.00

In [36]:
biased_dataset = helper.bias_genre_rating_dataset(genre_ratings, 3.2, 2.5)

print( "Number of records: ", len(biased_dataset))
biased_dataset.head()

Number of records:  183

   userId  avg_romance_rating  avg_scifi_rating
0       1                3.50              2.40
1       3                3.65              3.14
2       6                2.90              2.75
3       7                2.93              3.36
4      12                2.89              2.62